div:hover {
  border: 2px solid magenta;
}

div:nth-child(3) {
  background-color: red;
}

div:nth-child(3) h3{
  text-decoration: underline;
  font-style: italic;
}

div:nth-child(4) {
  background-color: green;
}

div:nth-child(4) h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div:nth-child(5) {
  background-color: blue;
  font-size: 25px;
}

div:nth-child(5) h3{
  font-family: monospace;
  font-style: italic;
}

div:nth-child(6) {
  background-color: rgb(63, 61, 61);
}

div:nth-child(6) h3 {
  letter-spacing: 4px;
  color:cornsilk;
}

div:nth-child(7) {
  background-color: cornsilk
}

div:nth-child(7) {
  font-weight: 100;
  font-style: italic;
}