.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  bottom: 100px;
}

.baloon {
  position: absolute;
  left: 230px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 3;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 550px;
  bottom: 250px;
}